*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: sans-serif;
    margin: 40px;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

details{
    margin: 20px;
    background-color: bisque;
    padding: 15px;
}

summary{
    background-color: coral;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
}

summary:hover{
    background-color: brown;
}

details p{
    line-height: 1.5rem;
}

details img{
    width: 100%;
    margin-bottom: 10px;
}